@model IS220_PROJECT.Models.InputDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Note</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                            @if(@Model != null)
                            foreach(var item in @Model){
                                <form asp-action="Edit" method="POST">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="@item.InputDetailId" />
                                    <tr>
                                            <td></td>
                                            <td>
                                                <input asp-for="@item.ProductId" class="form-control" />
                                            </td>
                                            <td>
                                                <input disabled asp-for="@item.ProductName" class="form-control" />
                                            </td>
                                            <td>
                                                <input asp-for="@item.Quantity" class="form-control" />
                                            </td>
                                            <td>
                                                <input asp-for="@item.InputPrice" class="form-control" />
                                            </td>
                                            <td>
                                                <input asp-for="@item.Note" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="submit" value="Save" class="btn btn-primary" asp-route-inputId="@item.InputId" asp-route-id="@item.InputDetailId" />
                                                <a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.InputDetailId">Delete</a>
                                            </td>
                                    </tr>
                                </form>
                            }
                    </tbody>
                </table>
            </div>
           
            <div class="form-group">
            </div>
*@
<h1>Edit</h1>

<h4>InputDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.InputDetailId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InputDetailId" />
            <input type="hidden" asp-for="InputId" />
            @*<div class="form-group">
                <label asp-for="InputId" class="control-label"></label>
                <select asp-for="InputId" class="form-control" asp-items="ViewBag.InputId"></select>
                <span asp-validation-for="InputId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InputPrice" class="control-label"></label>
                <input asp-for="InputPrice" class="form-control" />
                <span asp-validation-for="InputPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-inputId="@Model.InputId">Quay về</a>
</div>

@*@section Scripts{
    <script>
        $(document).ready(function(){
            var rows = document.querySelectorAll('tr')
            var count = 1
            rows.forEach(r => {
                console.log(r);
                if(r.children[0].innerText == "STT")
                    return false;

                r.children[2].innerText = count;
                count++;
            })
            
    //        $.ajax({
				//	url: '/AdminInputDetails/Edit',
				//	datatype: 'json',
				//	method: 'GET',
				//	data:{
				//		inputId: start,
				//		endDate: end
				//	},
				//	async: true,
				//	success: function(result){
				//		if(result.status == 'success'){
				//			window.location.href = result.redirectUrl;
				//		}
				//	},
				//	error: function(xhr){
				//		alert('Overload');
				//	}
				//})
        })
    </script>
}*@