@model IS220_PROJECT.Models.Product

@{
    ViewData["Title"] = Model.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- Banner Start -->
        <section class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span class="round-shape"></span>
                        <h2 class="banner-title">Shop</h2>
                        <div class="bread-crumb"><a asp-controller="Home" asp-action="Index">TRANG CHỦ</a>/ <a asp-action="Index"> SHOP/ </a>@ViewBag.CurrentCat/ @Model.ProductName</div>
                    </div>
                </div>
            </div>
        </section>    
        <!-- Banner End -->

        <!-- Shop Section Start -->
        <section class="single-product-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div id="product-slider" class="carousel slide product-slider" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="ps-img">
                                        <img src="~/images/products/@Model.Thumbnail" alt="">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="ps-img">
                                        <img src="~/images/products/@Model.Thumbnail" alt="">
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="ps-img">
                                        <img src="~/images/products/@Model.Thumbnail" alt="">
                                    </div>
                                </div>
                            </div>
                            <ol class="carousel-indicators clearfix">
                                <li data-target="#product-slider" data-slide-to="0" class="active"><img src="~/images/products/@Model.Thumbnail" alt=""></li>
                                <li data-target="#product-slider" data-slide-to="1"><img src="~/images/products/@Model.Thumbnail" alt=""></li>
                                <li data-target="#product-slider" data-slide-to="2"><img src="~/images/products/@Model.Thumbnail" alt=""></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="sin-product-details">
                            <h3>@Model.ProductName</h3>
                            <div class="woocommerce-product-rating">
                                <div class="star-rating">
                                    <i class="twi-star"></i>
                                    <i class="twi-star"></i>
                                    <i class="twi-star"></i>
                                    <i class="twi-star"></i>
                                    <span>
                                        <i class="twi-star"></i>
                                    </span>
                                </div>
                                <a href="#" class="woocommerce-review-link"><span class="count">03</span> đánh giá
                                </a>
                            </div>
                            <div class="product-price clearfix">
                                <span class="price">
                                    <span>@Model.Price.Value.ToString("#,##")<span class="woocommerce-Price-currencySymbol">VNĐ</span></span>
                                </span>         
                            </div>
                            <div class="pro-excerp">
                                <p>
                                    @if(@Model.Description != null){
                                        @Model.Description
                                    }
                                    else{
                                        <div>Mô tả sản phẩm</div>
                                    }
                                </p>
                            </div>
                            <div class="product-color">
                                <h5>Màu sắc</h5>
                                <div class="color-1"></div>
                                <div class="color-2"></div>
                                <div class="color-3"></div>
                            </div>
                            <div class="product-size">
                                @if(@Model.CatId == 1){
                                    <div class="row">
                                        <div class="col-4">
                                            <h5 style="display: inline-block;">Ram:</h5>
                                            <span>@Model.Ram</span>
                                        </div>
                                        <div class="col-7">
                                            <h5 style="display: inline-block;">CPU:</h5>
                                            <span>@Model.Cpudetail</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h5 style="display: inline-block;">Ổ cứng:</h5>
                                            <span>@Model.TypeOfHardDrive - @Model.Capacity</span>
                                        </div>
                                        <div class="col-12">
                                            <h5 style="display: inline-block;">GPU:</h5>
                                            <span>@Model.TypeOfGpu - @Model.Gpudetail</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 style="display: inline-block;">Màn hình:</h5>
                                            <span>@Model.MonitorDetail</span>
                                        </div>
                                        <div class="col-12">
                                            <h5 style="display: inline-block;">Cân nặng:</h5>
                                            <span>@Model.Weight</span>
                                        </div>
                                    </div>
                                }
                                else{
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 style="display: inline-block;">Đang cập nhật</h5>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="product-cart-qty">
                                <div class="quantityd clearfix">
                                    <button class="qtyBtn btnMinus"><span>-</span></button>
                                    <input id="qty" value="1" title="Qty" class="input-text qty text carqty" type="text">
                                    <button class="qtyBtn btnPlus">+</button>
                                </div>
                                @*<a id="update_item" onclick="updateCart(@Model.OrderDetailId)" class="button update" style="min-width: 100px; margin-top:5px;">Lưu</a>*@
                                <a id="update-item" onclick="updateCart()" class="add-to-cart-btn">Thêm</a>
                                <a href="#" class="Whislist"><i class="twi-heart"></i></a>
                                <a href="#" class="compare"><i class="twi-random"></i></a>
                            </div>
                            <div class="pro-socila">
                                <a href="#"><i class="twi-facebook"></i></a>
                                <a href="#"><i class="twi-twitter-square"></i></a>
                                <a href="#"><i class="twi-pinterest-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Section End -->
        @section Scripts{
	<script>
        function updateCart(){
            var _amount = $("#qty").val();
            //console.log(num);
            console.log(_amount);
            //$.get('/Cart/UpdateCart', function(data, status)
            //{
            //    alert("Data: " + data + "\nStatus: " + status)
            //});
			$.ajax({
				url: '/Cart/AddToCart',
				datatype: 'json',
				method: 'GET',
				data:{
					ProductId: @Model.ProductId,
					amount: _amount,
                    url: "/Product/Details/" + @Model.ProductId
				},
				async: true,
				success: function(result){
					if(result.status == 'success'){
						window.location.href = result.redirectUrl;
					}
				},
				error: function(xhr){
					console.log(xhr);
				}
			});
        }
	</script>
}

