@model List<IS220_PROJECT.Models.CustomerInvoice>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Banner Start -->
<section class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="round-shape"></span>
                <h2 class="banner-title">Giỏ hàng</h2>
                <div class="bread-crumb"><a asp-action="Index">TRANG CHỦ</a> / GIỎ HÀNG</div>
            </div>
        </div>
    </div>
</section>    
<!-- Banner End -->

<!-- Cart Section Start -->
<section class="cart-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="woocommerce-cart-form" action="#">
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th class="product-name-thumbnail">TÊN SẢN PHẨM</th>
                                <th class="product-price">GIÁ</th>
                                <th class="product-quantity">SỐ LƯỢNG</th>
                                <th class="product-total">THÀNH TIỀN</th>
                                <th class="product-remove">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(@Model != null)
                            {
                                @foreach(var item in @Model)
                                {
                                    <tr class="cart-item">
                                        <td class="product-thumbnail-title">
                                            <a href="#">
                                                <img src="../images/products/@item.Thumbnail" alt="">
                                            </a>
                                            <a class="product-name" href="#">@item.ProductName</a> 
                                        </td>
                                        <td class="product-unit-price">
                                            <div class="product-price clearfix">
                                                <span class="price">
                                                    <span>@item.Price.Value.ToString("#,##") <span class="woocommerce-Price-currencySymbol">VNĐ</span></span>
                                                </span>           
                                            </div>
                                        </td>
                                        <td class="product-quantity clearfix">
                                            <div class="quantityd clearfix">
                                                <button class="qtyBtn btnMinus"><span>-</span></button>
                                                <input name="qty" value="@item.Quantity" title="Qty" class="input-text qty text carqty" type="text">
                                                <button class="qtyBtn btnPlus">+</button>
                                            </div>
                                            <a id="update_item" class="button update">CẬP NHẬT</a>
                                        </td>
                                        <td class="product-total">
                                            <div class="product-price clearfix">
                                                <span class="price">
                                                    <span>@item.Total.Value.ToString("#,##") <span class="woocommerce-Price-currencySymbol">VNĐ</span></span>
                                                </span>           
                                            </div>
                                        </td>
                                        <td class="product-remove">
                                            <a id="remove_item"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td rowspan="5">
                                        Chưa có đơn hàng nào
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td colspan="6" class="actions">
                                    <button type="submit" class="button clear-cart">XÓA TOÀN BỘ</button>
                                    <button type="submit" class="button continue-shopping">TIẾP TỤC MUA HÀNG</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="coupon">
                                <h3>MÃ GIẢM GIÁ</h3>
                                <p>
                                    Nhập mã giảm giá tại đây
                                </p>
                                <input type="text" name="coupon_code" placeholder="Nhập mã"> 
                                <button type="submit" class="button" name="apply_coupon">KIỂM TRA</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cart-totals">
                                <h2>TÓM TẮT ĐƠN HÀNG</h2>
                                <table class="shop-table">
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Tạm tính</th>
                                            <td data-title="Subtotal">
                                                <span class="woocommerce-Price-amount amount">
                                                    @{
                                                        int total = 0;
                                                        foreach(var item in Model)
                                                        {
                                                            total += item.Total.Value; 
                                                        }
                                                    }   
                                                    @total.ToString("#,##")
                                                 <span class="woocommerce-Price-currencySymbol">VNĐ</span></span>
                                            </td>
                                        </tr>
                                        <tr class="cart-subtotal">
                                            <th>Khuyến mãi</th>
                                            <td data-title="Subtotal">
                                                <span class="woocommerce-Price-amount amount">0.0</span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Thành tiền</th>
                                            <td data-title="Subtotal">
                                                <span class="woocommerce-Price-amount amount">@total.ToString("#,##") <span class="woocommerce-Price-currencySymbol">VNĐ</span></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a href="#" class="checkout-button">ĐẶT HÀNG</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->
@section Scripts{
	<script>
		$(document).ready(function(){
			jQuery("#update_item").on('click',function(){
                console.log(1);
				//var catID = jQuery(this).children(":selected").index();
				//var statusID = jQuery("#selectStatus").children(":selected").index();
				//catID = parseFloat(catID);
				//statusID = parseFloat(statusID);
				//console.log(statusID);
				//$("#selectCat option").removeAttr('selected'); //remove old selection
				//$("#selectCat").eq(catID).prop('selected', 'true'); //set new selection
				//$.ajax({
				//	url: '/AdminProducts/Filter',
				//	datatype: 'json',
				//	method: 'GET',
				//	data:{
				//		CatID: catID,
				//		StatusID: statusID
				//	},
				//	async: true,
				//	success: function(result){
				//		if(result.status == 'success'){
				//			window.location.href = result.redirectUrl;
				//		}
				//	},
				//	error: function(xhr){
				//		alert('Overload');
				//	}
				})
			});
			jQuery("#selectStatus").change(function(){
				var catID = jQuery("#selectCat").children(":selected").index();
				var statusID = jQuery(this).children(":selected").index();
				catID = parseFloat(catID);
				statusID = parseFloat(statusID);
				$("#selectStatus option").removeAttr('selected'); //remove old selection
				$("#selectStatus").eq(statusID).prop('selected', 'true'); //set new selection
				$.ajax({
					url: '/AdminProducts/Filter',
					datatype: 'json',
					method: 'GET',
					data:{
						CatID: catID,
						StatusID: statusID
					},
					async: true,
					success: function(result){
						if(result.status == 'success'){
							window.location.href = result.redirectUrl;
						}
					},
					error: function(xhr){
						alert('Overload');
					}
				})
			});
		})
	</script>
}

