@model List<IS220_PROJECT.Models.Product>
@{
    ViewData["Title"] = "Trang chủ";
}

        <!-- Slider Start -->
        <section class="slider-01">

            <!-- Scroll Btn -->
            <div class="scroll-down"><a href="#coupone">Flash Sale</a><img src="~/assets/images/home/scroll.png" alt=""></div>
            <!-- Scroll Btn -->

            <!-- Counting Item -->
            <div class="slider-counter">
                <span class="current-item">02</span>
                <span class="bar"></span>
                <span class="total-item">04</span>
            </div>
            <!-- Counting Item -->

            <div class="rev_slider_wrapper">
                <div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                    <ul>
                        <li class="rev-slidebg">
                            <div class="tp-caption tp-resizeme textRes title-1"
                                 data-x="['left','left','center','center']" 
                                 data-hoffset="['0']" 

                                 data-y="['middle']" 
                                 data-voffset="['-132','-110','-60','-70']" 

                                 data-fontsize="['60','45','40','36']"
                                 data-fontweight="700"
                                 data-lineheight="['72','50','52','46']"
                                 data-width="['570','500','500','100%']"
                                 data-height="['auto']"
                                 data-whitesapce="['normal']"
                                 data-color="['#000000']"

                                 data-type="text" 
                                 data-responsive_offset="on" 

                                 data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'


                                 data-textAlign="['left','left','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,20]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,20]"

                                 style="z-index: 5;  white-space: normal; text-transform: none;">UITPro thỏa sức mua sắm.</div>
                            <div class="tp-caption tp-resizeme textRes"
                                 data-x="['left','left','center','center']" 
                                 data-hoffset="['0']" 

                                 data-y="['middle']" 
                                 data-voffset="['17','17','50','40']" 

                                 data-fontsize="['24','20','18','18']"
                                 data-fontweight="400"
                                 data-lineheight="['36','32','30','28']"
                                 data-width="['570','500','500','100%']"
                                 data-height="['auto']"
                                 data-whitesapce="['normal']"
                                 data-color="['#666666']"

                                 data-type="text" 
                                 data-responsive_offset="off" 

                                 data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['left','left','center','center']"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,20]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,20]"

                                 style="z-index: 5; white-space: normal; text-transform: none;">Mua hàng cùng UITPro
                            </div>
                            <div class="tp-caption tp-resizeme textRes"
                                 data-x="['left','left','center','center']" 
                                 data-hoffset="['0']" 

                                 data-y="['middle']" 
                                 data-voffset="['145','145','150','145']" 

                                 data-fontsize="14"
                                 data-fontweight="700"
                                 data-lineheight=".8"
                                 data-width="['auto']"
                                 data-height="['auto']"
                                 data-whitesapce="['normal']"
                                 data-color="['#FFF']"

                                 data-type="text" 
                                 data-responsive_offset="off" 

                                 data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},
                                 {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

                                 data-textAlign="center"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,20]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,20]"

                                 style="z-index: 5;"><a href="#" class="btn">Xem tất cả</a>
                            </div>
                            <div class="tp-caption tp-resizeme slider-image"
                                 data-x="['right','right','center','center']" 
                                 data-hoffset="['-50','50','0','0']" 

                                 data-y="['middle']" 
                                 data-voffset="['0']" 
                                 data-width="['auto','350','auto','auto']"
                                 data-height="['auto']"


                                 data-type="image" 
                                 data-responsive_offset="off" 

                                 data-frames='[{"delay":3500,"speed":2500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'


                                 data-textAlign="center"
                                 data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,25]"
                                 data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,25]"

                                 style="z-index: 5;"><img src="~/images/Slider/logo.png" alt="">
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </section>    
        <!-- Slider End -->

        <!-- Categories Section Start -->
        <section class="categorie-section">

            <!-- Section Heading -->
            <!-- <div class="sec-heading rotate-rl"> Danh mục</div> -->
            <!-- Section Heading -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="sec-title">Danh mục</h2>
                        <p class="sec-desc">
                            Tất cả<br> bạn cần ở đây.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="Laptop">
                        <a href="#" class="single-cate">
                            <i class="fa fa-laptop"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="PC">
                        <a href="#" class="single-cate">
                            <i class="fa fa-desktop"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="Màn hình">
                        <a href="#" class="single-cate">
                            <i class="fa fa-tv"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="Thiết bị ngoại vi">
                        <a href="#" class="single-cate">
                            <i class="fa fa-plug"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="Linh kiện">
                        <a href="#" class="single-cate">
                            <i class="fa fa-object-group"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="Âm thanh">
                        <a href="#" class="single-cate">
                            <i class="fa fa-soundcloud"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="Máy chơi game">
                        <a href="#" class="single-cate">
                            <i class="fa fa-gamepad"></i>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4" data-toggle="tooltip" data-placement="top" title="Balo, túi">
                        <a href="#" class="single-cate">
                            <i class="fa fa-shopping-bag"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- shpage -->
            <div class="cate-shage"><img src="~/assets/images/home/shape1.png" alt=""></div>
        </section>
        <!-- Categories Section End -->

        <!-- Service Section Start -->
        <section class="service-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="~/assets/images/home/truck.png" alt="">
                            <h4>100% Free Shipping</h4>
                            <p>Miễn phí vận chuyển toàn quốc.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="~/assets/images/home/headphone.png" alt="">
                            <h4>24/7 Hỗ trợ</h4>
                            <p>Chế độ bảo hành tận tâm</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <img src="~/assets/images/home/undo.png" alt="">
                            <h4>30 Đổi trả</h4>
                            <p>Hỗ trợ đổi trả 1-1 hoặc hoàn tiền 100%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Service Section End -->

        <!-- Trending Section Start -->
        <section class="trending-section" style="background-image: url(~/assets/images/home/shape2.png);">

            <!-- Section Heading -->
            <div class="sec-heading rotate-tb">SẢN PHẨM <span> NỔI BẬT</span></div>
            <!-- Section Heading -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="sec-title">SẢN PHẨM NỔI BẬT</h2>
@*                        <p class="sec-desc">
                            
                        </p>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="trending-slider owl-carousel">
                            @for(var i = 0; i < @Model.Count / 4; i +=2) {
                                @if(!@Model[i].BestSellers){
                            continue;
                        }
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-trending-product">
                                            <div class="trend-thumb">
                                                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[i].ProductId">
                                                    <img src="~/images/products/@Model[i].Thumbnail" alt="">
                                                </a>
                                            </div>
                                            <div class="tr-pro-detail">
                                                <h3>
                                                    <a href="single-product.html">@Model[i].ProductName</a>
                                                    <div class="product-price clearfix">
                                                        <span class="price">
                                                            <span> @Model[i].Price.Value.ToString("#,##") VNĐ </span>
                                                        </span>           
                                                    </div>
                                                </h3>
                                                <p>
                                                    @Model[i].Cpudetail
                                                    <br/>
                                                    @Model[i].Ram - @Model[i].Capacity @Model[i].TypeOfHardDrive
                                                </p>
                                                <a class="tr-atc" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[i].ProductId" asp-route-amount="1" asp-route-url="/Home/Index">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-trending-product">
                                            <div class="trend-thumb">
                                                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[i+1].ProductId">
                                                    <img src="~/images/products/@Model[i + 1].Thumbnail" alt="">
                                                </a>
                                            </div>
                                            <div class="tr-pro-detail">
                                                <h3>
                                                    <a href="single-product.html">@Model[i + 1].ProductName</a>
                                                    <div class="product-price clearfix">
                                                        <span class="price">
                                                            <span>@Model[i + 1].Price.Value.ToString("#,##") VNĐ</span>
                                                        </span>           
                                                    </div>
                                                </h3>
                                                <p>
                                                    @Model[i + 1].Cpudetail
                                                    <br/>
                                                    @Model[i + 1].Ram - @Model[i].Capacity @Model[i + 1].TypeOfHardDrive
                                                </p>
                                                <a class="tr-atc" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[i+1].ProductId" asp-route-amount="1" asp-route-url="/Home/Index">Thêm vào giỏ hàng</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Trending Section End -->

        <!-- Popular Section Start -->
        <section class="popular-section">

            <!-- Shape Round -->
            <div class="shape-round">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- Shape Round -->

            <!-- Section Heading -->
            <div class="sec-heading rotate-rl">PHỔ <span>BIẾN</span></div>
            <!-- Section Heading -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="sec-title">PHỔ BIẾN</h2>
                        <ul class="product-tab-title nav nav-tabs">
                            <li><a class="active" href="#all" data-toggle="tab">All</a></li>
                            <li><a href="#laptop" data-toggle="tab">Laptop</a></li>
                            <li><a href="#manhinh" data-toggle="tab">Màn hình</a></li>
                            <li><a href="#pc" data-toggle="tab">PC</a></li>
                            <li><a href="#others" data-toggle="tab">Others</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show in active" id="all" role="tabpanel">
                                <div class="popular-tab-slider owl-carousel">
                                     @for(var i = 0; i < @Model.Count/2; i+=2)
                                    {
                                            <div class="pp-single-slider">
                                                <div class="single-popular-product">
                                                    <div class="sp-thumb">
                                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[i].ProductId">
                                                            <img src="~/images/products/@Model[i].Thumbnail" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="sp-details">
                                                        <h4>@Model[i].ProductName</h4>
                                                        <div class="product-price clearfix">
                                                            <span class="price">
                                                                <ins><span>@Model[i].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                            </span>         
                                                        </div>
                                                        <div class="sp-details-hover">
                                                            <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[i].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-popular-product">
                                                    <div class="sp-thumb">
                                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[i+1].ProductId">
                                                            <img src="~/images/products/@Model[i+1].Thumbnail" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="sp-details">
                                                        <h4>@Model[i+1].ProductName</h4>
                                                        <div class="product-price clearfix">
                                                            <span class="price">
                                                                <ins><span>@Model[i+1].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                            </span>         
                                                        </div>
                                                        <div class="sp-details-hover">
                                                            <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[i+1].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="laptop" role="tabpanel">
                                <div class="popular-tab-slider owl-carousel">
                                    @for(var i = 0; i < @Model.Count/2; i+=2)
                                    {
                                        @if(@Model[i].CatId == 1)
                                        {
                                            <div class="pp-single-slider">
                                                <div class="single-popular-product">
                                                    <div class="sp-thumb">
                                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[i].ProductId">
                                                            <img src="~/images/products/@Model[i].Thumbnail" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="sp-details">
                                                        <h4>@Model[i].ProductName</h4>
                                                        <div class="product-price clearfix">
                                                            <span class="price">
                                                                <ins><span>@Model[i].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                            </span>         
                                                        </div>
                                                        <div class="sp-details-hover">
                                                            <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[i].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if(@Model[i + 1].CatId == 1){

                                                    <div class="single-popular-product">
                                                        <div class="sp-thumb">
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[i+1].ProductId">
                                                                <img src="~/images/products/@Model[i+1].Thumbnail" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="sp-details">
                                                            <h4>@Model[i+1].ProductName</h4>
                                                            <div class="product-price clearfix">
                                                                <span class="price">
                                                                    <ins><span>@Model[i+1].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                                </span>         
                                                            </div>
                                                            <div class="sp-details-hover">
                                                                <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[i + 1].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                                <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                            </div>
                                                        </div>
                                            </div>
                                        }
                                        else{
                                            break;
                                        }
                                               
                                    </div>
                                }
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="manhinh" role="tabpanel">
                                <div class="popular-tab-slider owl-carousel">
                                    @{
                                        int k = 0;
                                    }
                                    @while(k < @Model.Count){
                                        @if(@Model[k].CatId == 2)
                                        {
                                            <div class="pp-single-slider">
                                                <div class="single-popular-product">
                                                    <div class="sp-thumb">
                                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[k].ProductId">
                                                            <img src="~/images/products/@Model[k].Thumbnail" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="sp-details">
                                                        <h4>@Model[k].ProductName</h4>
                                                        <div class="product-price clearfix">
                                                            <span class="price">
                                                                <ins><span>@Model[k].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                            </span>         
                                                        </div>
                                                        <div class="sp-details-hover">
                                                            <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[k].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if(@Model[k + 1].CatId == 2){

                                                    <div class="single-popular-product">
                                                        <div class="sp-thumb">
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[k+1].ProductId">
                                                                <img src="~/images/products/@Model[k+1].Thumbnail" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="sp-details">
                                                            <h4>@Model[k+1].ProductName</h4>
                                                            <div class="product-price clearfix">
                                                                <span class="price">
                                                                    <ins><span>@Model[k+1].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                                </span>         
                                                            </div>
                                                            <div class="sp-details-hover">
                                                                <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[k+1].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                                <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else{
                                                    break;
                                                }
                                               
                                            </div>
                                            k+=2;
                                        }
                                        else{
                                            k+=1;
                                        }
                                    }
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="pc" role="tabpanel">
                                <div class="popular-tab-slider owl-carousel">
                                    @{
                                        k = 0;
                                    }
                                    @while(k < @Model.Count){
                                        @if(@Model[k].CatId == 18)
                                        {
                                            <div class="pp-single-slider">
                                                <div class="single-popular-product">
                                                    <div class="sp-thumb">
                                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[k].ProductId">
                                                            <img src="~/images/products/@Model[k].Thumbnail" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="sp-details">
                                                        <h4>@Model[k].ProductName</h4>
                                                        <div class="product-price clearfix">
                                                            <span class="price">
                                                                <ins><span>@Model[k].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                            </span>         
                                                        </div>
                                                        <div class="sp-details-hover">
                                                            <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[k].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if(@Model[k + 1].CatId == 18){

                                                    <div class="single-popular-product">
                                                        <div class="sp-thumb">
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[k+1].ProductId">
                                                                <img src="~/images/products/@Model[k+1].Thumbnail" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="sp-details">
                                                            <h4>@Model[k+1].ProductName</h4>
                                                            <div class="product-price clearfix">
                                                                <span class="price">
                                                                    <ins><span>@Model[k+1].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                                </span>         
                                                            </div>
                                                            <div class="sp-details-hover">
                                                                <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[k+1].ProductId" asp-route-amount="1" asp-route-url="/Home/Laptop"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                                <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else{
                                                    break;
                                                }
                                               
                                            </div>
                                            k+=2;
                                        }
                                        else{
                                            k+=1;
                                        }
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade in" id="others" role="tabpanel">
                                <div class="popular-tab-slider owl-carousel">
                                     @{
                                        k = 0;
                                    }
                                    @while(k < @Model.Count){
                                        @if(@Model[k].CatId != 1 && @Model[k].CatId != 2 && @Model[k].CatId != 18)
                                        {
                                            <div class="pp-single-slider">
                                                <div class="single-popular-product">
                                                    <div class="sp-thumb">
                                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[k].ProductId">
                                                        <img src="~/images/products/@Model[k].Thumbnail" alt="">
                                                    </a>
                                                    </div>
                                                    <div class="sp-details">
                                                        <h4>@Model[k].ProductName</h4>
                                                        <div class="product-price clearfix">
                                                            <span class="price">
                                                                <ins><span>@Model[k].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                            </span>         
                                                        </div>
                                                        <div class="sp-details-hover">
                                                            <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[k].ProductId" asp-route-amount="1" asp-route-url="/Home/Index"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                            <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if(@Model[k + 1].CatId != 1 && @Model[k + 1].CatId != 2 && @Model[k + 1].CatId != 18){

                                                    <div class="single-popular-product">
                                                        <div class="sp-thumb">
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@Model[k+1].ProductId">
                                                                <img src="~/images/products/@Model[k+1].Thumbnail" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="sp-details">
                                                            <h4>@Model[k+1].ProductName</h4>
                                                            <div class="product-price clearfix">
                                                                <span class="price">
                                                                    <ins><span>@Model[k+1].Price.Value.ToString("#,##") VNĐ</span></ins>
                                                                </span>         
                                                            </div>
                                                            <div class="sp-details-hover">
                                                                <a class="sp-cart" asp-controller="Cart" asp-action="AddToCart" asp-route-ProductId="@Model[k+1].ProductId" asp-route-amount="1" asp-route-url="/Home/Index"><i class="twi-cart-plus"></i><span>Thêm vào giỏ hàng</span></a>
                                                                <a class="sp-wishlist" href="#"><i class="twi-heart2"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else{
                                                    break;
                                                }
                                               
                                            </div>
                                            k+=2;
                                        }
                                        else{
                                            k+=1;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Popular Section End -->

        <!-- Coupon Discount Start -->
        <section class="coupone-discount-sec" id="coupone">

            <!-- Section Heading -->
            <div class="sec-heading rotate-tb">Coupon <span>Deals</span></div>
            <!-- Section Heading -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-5">
                        <div class="dis-product-detail">
                            <h4>FLASH SALE</h4>
                            <div class="product-price clearfix">
                                <span class="price">
                                    <span>18.000.000<span class="woocommerce-Price-currencySymbol">VNĐ</span></span>
                                </span>           
                            </div>
                            <div id="countdown-coupone" class="clearfix" data-day="31" data-month="12" data-year="2022"></div>
                            <a class="btn" href="single-product.html">MUA NGAY</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="dis-pro-thumb">
                            <img src="~/images/products/macbook-air-2022-m2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- shape -->
            <div class="couple-shape"><img src="~/assets/images/home/shape3.png" alt=""></div>
        </section>
        <!-- Coupon Discount End -->

        
        <!-- News Section End -->

        <!-- Client Section Start -->
        <section class="client-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="client-logo owl-carousel">
                            <a href="#"><img src="~/assets/images/home/client-logo/apple.png" alt=""></a>
                            <a href="#"><img src="~/assets/images/home/client-logo/asus.png" alt=""></a>
                            <a href="#"><img src="~/assets/images/home/client-logo/dell.png" alt=""></a>
                            <a href="#"><img src="~/assets/images/home/client-logo/hp.png" alt=""></a>
                            <a href="#"><img src="~/assets/images/home/client-logo/lenovo.png" alt=""></a>
                            <a href="#"><img src="~/assets/images/home/client-logo/windows.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Client Section End -->

        <!-- Mailchimp Section Start -->
        <section class="mailchimp-section">

            <!-- Section Heading -->
            <div class="sec-heading rotate-rl">THÀNH VIÊN MỚI?</div>
            <!-- Section Heading -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 text-center mx-auto">
                        <h3 class="sec-title">NHẬN NGAY MÃ GIẢM GIÁ 30%</h3>
                        <form class="mailchimp-form" action="#" method="post">
                            <input type="email" name="email" placeholder="email">
                            <button type="submit">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- shape -->
            <div class="mailchimp-shape"><img src="~/assets/images/home/shape4.png" alt=""></div>
        </section>
        <!-- Mailchimp Section End -->

