@model IS220_PROJECT.Models.Staff

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

 <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="d-md-flex align-items-center">
                            <div class="text-center text-sm-left ">
                                <div class="avatar avatar-image" style="width: 150px; height:150px">
                                    @if(@Model.Avatar == null){
                                        <img src="~/images/staffs/default.png" alt="">
                                    }
                                    else{
                                        <img src="~/images/staffs/@Model.Avatar" alt="">
                                    }
                                </div>
                            </div>
                            <div class="text-center text-sm-left m-v-15 p-l-30">
                                <h2 class="m-b-5">@Model.FullName</h2>
                                @if(@Model.Active == true)
                                {
                                    <p class="text-opacity font-size-13">Đang hoạt động - <span>@Model.Account.Role.RoleName</span></p>    
                                }
                                else{
                                    <p class="text-opacity font-size-13">Ngừng hoạt động - <span>@Model.Account.Role.RoleName</span></p>    
                                }
                                @if(@Model.CreateDate != null)
                                {
                                    <p class="text-dark m-b-20">Ngày tạo: 
                                            @Model.CreateDate.Value.Date.ToString("dd/MM/yyyy")</p>
                                }
                                else {
                                    <p class="text-dark m-b-20">Ngày tạo: null</p>
                                }
								<a class="btn btn-primary btn-tone m-r-5" asp-action="Edit" asp-route-id="@Model.StaffId">Chỉnh sửa</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="d-md-block d-none border-left col-1"></div>
                            <div class="col">
                                <ul class="list-unstyled m-t-10">
                                    <li class="row">
                                        <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                            <i class="m-r-10 text-primary anticon anticon-mail"></i>
                                            <span>Email: </span> 
                                        </p>
                                        <p class="col font-weight-semibold"> @Model.Email</p>
                                    </li>
                                    <li class="row">
                                        <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                            <i class="m-r-10 text-primary anticon anticon-phone"></i>
                                            <span>Phone: </span> 
                                        </p>
                                        <p class="col font-weight-semibold"> @Model.Phone</p>
                                    </li>
                                    <li class="row">
                                        <p class="col-sm-4 col-5 font-weight-semibold text-dark m-b-5">
                                            <i class="m-r-10 text-primary anticon anticon-compass"></i>
                                            <span>Location: </span> 
                                        </p>
                                        <p class="col font-weight-semibold"> @Model.Address</p>
                                    </li>
                                </ul>
                                <div class="d-flex font-size-22 m-t-15">
                                    <a href="" class="text-gray p-r-20">
                                        <i class="anticon anticon-facebook"></i>
                                    </a>        
                                    <a href="" class="text-gray p-r-20">    
                                        <i class="anticon anticon-twitter"></i>
                                    </a>
                                    <a href="" class="text-gray p-r-20">
                                        <i class="anticon anticon-behance"></i>
                                    </a> 
                                    <a href="" class="text-gray p-r-20">   
                                        <i class="anticon anticon-dribbble"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="d-md-block d-none border-left col-1"></div>
                            <div class="col">
                                <ul class="list-unstyled m-t-10">
                                    <li class="row">
                                        <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                            <i class="m-r-10 text-primary anticon anticon-user"></i>
                                            <span>Tài khoản: </span> 
                                        </p>
                                        <p class="col font-weight-semibold"> @Model.Account.AccountName</p>
                                    </li>
                                    <li class="row">
                                        <p class="col-sm-4 col-4 font-weight-semibold text-dark m-b-5">
                                            <i class="m-r-10 text-primary anticon anticon-lock"></i>
                                            <span>Mật khẩu: </span> 
                                        </p>
                                        <p class="col font-weight-semibold"> @Model.Account.Password</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div>
     <a class="btn btn-secondary btn-tone" asp-action="Index">Quay lại</a>
</div>
